<launch>
	#rviz launch
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_niryo_robot)/rviz/my_niryo_robot.rviz" output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>	
	
	#roslaunch calibrate.py
	<node name=" " pkg=" " type=" " args=" " output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>

	#camera opstarten
	<include file="$(find my_robot_pkg)/launch/node2.launch"/>

	#service starten
	<node name=" "p4f3-_int" type="Vision_service_messageV1.srv" args=" " output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>
	
	#hmi starten
	<node name="HMI_2.py" pkg="HMI_software" type="rviz" args=" " output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>

//na calibratie

	#main.py opstarten
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_niryo_robot)/rviz/my_niryo_robot.rviz" output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>

	#rviz, hmi, vision camera, opstarten main.py
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_niryo_robot)/rviz/my_niryo_robot.rviz" output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_niryo_robot)/rviz/my_niryo_robot.rviz" output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_niryo_robot)/rviz/my_niryo_robot.rviz" output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_niryo_robot)/rviz/my_niryo_robot.rviz" output="screen" launch-prefix="gnome-terminal -- bash -c '/bin/bash -c'"/>
</launch>
